DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=vivero
DB_PASSWORD=vivero123
DB_NAME=vivero_takumi
PORT=8888
FRONTEND_URL=http://localhost:5173
JWT_ACCESS_TOKEN_SECRET=cambiar_access_secret_largo_y_seguro
JWT_REFRESH_TOKEN_SECRET=cambiar_refresh_secret_largo_y_seguro
